<div class= 'container'>
  <h1>Hello Admin</h1>
  <ul class="list-group">
    <li class="list-group-item"><%= link_to 'Browse Users', users_admin_path %></li>
    <li class="list-group-item"><%= link_to 'Browse Questions', questions_admin_path %></li>
    <li class="list-group-item"><%= link_to 'Browse Answers', answers_admin_path %></li>
    <li class="list-group-item"><%= link_to 'Browse Comments', comments_admin_path %></tr>
  </tbody>
</table>
</div>
</div>
